.LinkButton {
    cursor: pointer;
    font-weight: 600;
    color: #007bff;
}

.LinkButton:hover {
    text-decoration: underline;
    color: #0056b3;
}

.LinkButton-Danger {
    cursor: pointer;
    font-weight: 600;
    color: maroon;
}

.LinkButton-Danger:hover {
    text-decoration: underline;
    color: #5d0000;
}