.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.card {
    margin: 4rem auto 0 auto;
    max-width: 40rem !important;
}

.card-body {
    padding: 2rem;
}

.card-title {
    padding: 1.5rem 0 1.5rem 4rem;
    font-weight: 600;
    font-size: 1.4rem;
    background-color:#363636;
    color: whitesmoke;
}